#snow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 9;
}


/* min 767px */
@media(min-width: 400px) {
  .head > img 
  {
  width: 100%;
  height: 100vh;
  }
  .avatar > img 
  {
  width: 250px;
  height: 250px;
  border: 5px solid white;
  border-radius: 100%;
  }
  .ig > img 
  {
  width: 200px;
  height: 200px;
  }
  body {
    color: #ffffff;
  }
  ::-webkit-scrollbar {
    width: 0;
    height: 0;
    overflow: hidden;
    white-space: nowrap;
  }
  .avatar > h2 
  {
  color: #ffffff;
  font: 700;
  font-size: 20px;
  font-family: bold;
  font-weight: 700;
  }
  .avatar > span 
  {
  color: #ffffff;
  font: 700;
  font-size: 13px;
  font-family: bold;
  font-weight: 7000;
  }
  .div>p 
  {
  color: #ffffff;
  font: 6;
  font-size: 12px;
  font-family: tahoma;
  font-weight: 7000;
  margin-top: .5rem;
  }
  .div>h3 
  {
  font: 700;
  font-size: 15px;
  font-family: bold;
  font-weight: 700;
  }
  .avatar > h2 
  {
  color: #ffffff;
  font: 700;
  font-size: 30px;
  font-family: bold;
  font-weight: 700;
  margin-top: 2rem;
  }
}